In [ ]:
import pandas as pd 
import numpy as np 

import matplotlib.pyplot as plt 
import cv2 as cv 

from keras.layers import (Conv2D, Input, LeakyReLU, Dense, Activation, Flatten,
                          Dropout, MaxPool2d)
from keras import models 
from keras.optimizers import Adam, RMSprop
from keras.preprocessing.image import ImageDataGenerator 
from keras.callback import ReduceLROnPlateau 

import pickle 

%matplotlib inline

In [2]:
np.random.seed(1) 
df_train = pd.read_csv("train.csv") #load training data 
df_train = df_train.iloc[np.random.permutation(len(df_train))] #randomize data

In [3]:
df_train.head(5)

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
29633,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
345,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
36369,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16624,8,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14389,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
df_train.shape

(42000, 785)

In [ ]:
sample_size = df_train.shape[0] #Training set size 
validation_size = int(df_train.shape[0]*0.1) #Validation set (10% data)

train_x = np.asarray(df_train.iloc)